.plat_navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: -webkit-linear-gradient(295deg, #21adad 25%, #8262d3);
  background-image: linear-gradient(155deg, #21adad 25%, #8262d3);
  font-family: Quicksand, sans-serif;
}

.plat_nav_link {
  padding-right: 20px;
  padding-left: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.plat_nav_link:hover {
  opacity: 1;
}

.plat_nav_link.plat_nav_login {
  margin-top: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #28279e;
}

.plat_logo_text {
  margin-top: 15px;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.plat_minvh_section {
  min-height: 100vh;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.plat_minvh_section.plat_background_whitesmoke {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #f9f9fa;
  font-family: Quicksand, sans-serif;
}

.plat_minvh_section.plat_background_whitesmoke.plat_course_section {
  display: none;
  padding-top: 0px;
}

.plat_minvh_section.plat_background_gradient.plat_flex_section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.plat_page_header {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Quicksand, sans-serif;
  color: #414141;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.05px;
}

.plat_page_header.plat_course_page_header {
  margin-top: 0px;
  font-size: 27px;
}

.plat_page_header.plat_page_header_form {
  border-bottom: 2px none #8262d3;
}

.plat_normal_div {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 30px;
}

.plat_normal_div.plat_div_white {
  margin-top: 25px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 35px;
  border: 1px solid #cfcfd6;
  background-color: #fff;
  font-family: Quicksand, sans-serif;
  color: #3c3c4a;
  font-size: 18px;
  line-height: 2em;
}

.plat_normal_div.plat_div_white.plat_login_div {
  width: 500px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.plat_normal_div.plat_div_white.plat_header_div {
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.plat_normal_div.plat_div_white.plat_normal_padding_div {
  padding-top: 0px;
  padding-bottom: 0px;
}

.plat_normal_div.plat_div_white.plat_blog_div {
  margin: 61px -63px;
  border-style: none;
}

.plat_normal_div.plat_div_white.plat_sales_div {
  font-family: 'Slabo 13px', sans-serif;
}

.plat_normal_div.plat_normal_no_padding {
  padding: 0px;
}

.plat_paragraph {
  font-family: Quicksand, sans-serif;
  color: #3c3c4a;
  font-size: 18px;
  line-height: 2em;
}

.plat_lead_button {
  padding-top: 15px;
  padding-bottom: 15px;
  float: none;
  border-radius: 4px;
  background-color: #6867fe;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}

.plat_lead_button:hover {
  background-color: #3837ca;
}

.plat_lead_button.plat_course_resource {
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 25px;
  float: none;
}

.plat_content_div {
  margin-top: 25px;
  margin-bottom: 25px;
}

.plat_content_header {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #6867fe;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.plat_content_header:hover {
  color: #3534af;
}

.plat_content_header.plat_course_sidebar_header {
  text-decoration: none;
}

.plat_post_author {
  font-family: Quicksand, sans-serif;
  color: #3c3c4a;
  font-size: 18px;
  line-height: 2em;
}

.plat_paragraph_light {
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: Quicksand, sans-serif;
  color: #a5a5aa;
  font-size: 18px;
  line-height: 2em;
}

.plat_paragraph_light.plat_post_subtitle {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 21px;
  text-align: center;
}

.plat_footer {
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 100px;
  border-top: 1px none #cfcfd6;
  background-image: -webkit-linear-gradient(295deg, #21adad 25%, #8262d3);
  background-image: linear-gradient(155deg, #21adad 25%, #8262d3);
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.plat_footer_copyright {
  line-height: 2em;
  font-weight: 300;
  text-align: center;
}

.plat_footer_links {
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
}

.plat_footer_link {
  margin-right: 7px;
  margin-left: 7px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.plat_footer_link:hover {
  opacity: 1;
}

.plat_footer_bold {
  font-weight: 500;
}

.plat_footer_light {
  color: hsla(0, 0%, 100%, .5);
}

.plat_home_navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  font-family: Quicksand, sans-serif;
}

.plat_home_main_section {
  padding-top: 15px;
  padding-bottom: 25px;
  background-image: -webkit-linear-gradient(295deg, #21adad 25%, #8262d3);
  background-image: linear-gradient(155deg, #21adad 25%, #8262d3);
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.plat_home_main_content {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.plat_home_welcome {
  font-size: 45px;
  font-weight: 300;
}

.plat_home_subheader {
  font-size: 32px;
  font-weight: 300;
}

.text-span {
  font-weight: 500;
}

.plat_home_course_text {
  margin-top: 50px;
  font-size: 1.4em;
  line-height: 1.7em;
}

.plat_home_course_text.plat_home_course_light {
  color: hsla(0, 0%, 100%, .55);
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

.plat_base_section {
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  font-family: Quicksand, sans-serif;
}

.plat_base_section.plat_top_bottom_section {
  border-top: 1px solid #cfcfd6;
  border-bottom: 1px solid #cfcfd6;
}

.plat_base_section.plat_background_dark {
  background-color: #272727;
}

.plat_base_section.plat_background_dark.plat_tutorial_section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #252531;
}

.plat_background_whitesmoke {
  background-color: #f9f9fa;
}

.plat_background_offwhite {
  background-color: #fdfefe;
}

.plat_lead_header {
  font-family: Quicksand, sans-serif;
  color: #6867fe;
}

.plat_paragraph_padding {
  padding-right: 100px;
  padding-left: 100px;
}

.plat_paragraph_small {
  font-family: Quicksand, sans-serif;
}

.plat_paragraph_center {
  text-align: center;
}

.plat_paragraph_small_light {
  color: rgba(60, 60, 74, .66);
}

.plat_card_header {
  color: #4b4b55;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.05px;
}

.plat_card_header.plat_blog_author_header {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.plat_video_section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: -webkit-linear-gradient(20deg, #21adad 25%, #8262d3);
  background-image: linear-gradient(70deg, #21adad 25%, #8262d3);
}

.plat_video_section.plat_minvh_section {
  background-image: -webkit-linear-gradient(10deg, #21adad 25%, #8262d3);
  background-image: linear-gradient(80deg, #21adad 25%, #8262d3);
}

.plat_center_btn_div {
  margin-top: 0px;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: left;
}

.button {
  text-align: left;
}

.plat_background_gradient {
  background-image: -webkit-linear-gradient(20deg, #21adad 25%, #8262d3);
  background-image: linear-gradient(70deg, #21adad 25%, #8262d3);
}

.plat_background_dark {
  background-color: #414141;
}

.plat_full_paragraph {
  padding-right: 0px;
  padding-left: 0px;
}

.plat_flex_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.plat_flex_section.plat_minvh_section.plat_background_whitesmoke {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.plat_flex_section.plat_flex_course_section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.plat_flex_section.plat_flex_course_section.plat_minvh_section {
  padding-bottom: 0px;
}

.container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.plat_login_box {
  width: 500px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .11);
}

.plat_login_box.plat_normal_div.plat_div_white {
  text-align: center;
}

.plat_secondary_nav {
  padding-top: 5px;
  padding-bottom: 6px;
  background-color: #3c3c4a;
  font-family: Quicksand, sans-serif;
}

.plat_secondarynav_div {
  float: none;
}

.plat_nav_dark_link {
  margin-right: 10px;
  margin-left: 10px;
  color: #7e7e7e;
  font-weight: 500;
  text-decoration: none;
}

.plat_nav_dark_link.plat_nav_link {
  margin-top: 6px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  color: #bebebe;
  text-decoration: none;
}

.plat_nav_dark_link.plat_nav_link.plat_snav_padding {
  padding-right: 3px;
  padding-left: 3px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  color: #a5a5aa;
  font-weight: 400;
}

.plat_landing_section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.heading-3 {
  text-align: left;
}

.plat_normal_header_div {
  border-bottom: 1px solid #cfcfd6;
}

.plat_lecture_text {
  color: #3c3c4a;
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: none;
}

.plat_lecture_text.plat_nav_link {
  padding-right: 0px;
  padding-left: 0px;
}

.plat_flex_course_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.plat_flex_course_section.plat_minvh_section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.div-block {
  width: 20%;
}

.div-block-2 {
  width: 20%;
}

.div-block-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row {
  height: 100%;
}

.div-block-4 {
  height: 100%;
  background-color: #059aff;
}

.icon {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.heading-4 {
  margin-left: 33px;
}

.plat_course_sidebar {
  display: block;
  padding: 3rem 4rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 1px solid #cfcfd6;
  background-color: #fdfefe;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
}

.plat_course_content {
  overflow: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f6f6f6;
  font-family: Quicksand, sans-serif;
  color: #3c3c4a;
  font-size: 18px;
  line-height: 2em;
}

.plat_lecture_title {
  float: none;
}

.text-block {
  float: none;
  clear: none;
}

.plat_lecture_title_div {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0px 20px 0px 0px;
}

.plat_course_sidebar_li {
  margin-top: 8px;
  margin-bottom: 8px;
  border-top: 1px solid #cfcfd6;
}

.list-item {
  border-bottom: 1px solid #cfcfd6;
  border-top-style: none;
}

.plat_sidebar_lecture_section {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.plat_course_tab_padding {
  display: block;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: left;
}

.plat_tab_active.w--current {
  background-color: #6867fe;
  color: #fff;
}

.plat_tab_normal {
  background-color: #21adad;
  color: #fff;
}

.plat_tab_link {
  margin-right: 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #6867fe;
  opacity: 1;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
}

.plat_tab_link:hover {
  background-color: #4f4ed1;
}

.plat_tab_link.w--current {
  background-color: #21adad;
}

.plat_landing_email_box {
  margin-top: 0px;
  padding: 30px;
  border-color: #fff;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 hsla(0, 0%, 100%, .7);
  color: #3c3c4a;
}

.plat_input_base {
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid #cfcfd6;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

.plat_submit_button {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  border-radius: 4px;
  background-color: #6867fe;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 16px;
}

.plat_submit_button:hover {
  background-color: #3837ca;
}

.plat_form_success {
  background-color: #6867fe;
  color: #fff;
}

.plat_modal_wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999;
  display: block;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(37, 37, 49, .5);
  text-align: center;
}

.plat_modal_box {
  display: block;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  background-color: #fff;
}

.plat_modal_exit {
  padding: 15px;
  float: right;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #c3c1c1;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.plat_modal_exit:hover {
  color: #000;
}

.plat_modal_payment_div {
  margin-top: 55px;
  padding: 15px;
}

.plat_modal_wrapper_2 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999;
  display: none;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(37, 37, 49, .5);
  text-align: center;
}

.button-2 {
  margin-right: 48px;
  margin-left: 48px;
}

.plat_modal_exit_2 {
  padding: 15px;
  float: right;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #c3c1c1;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.plat_modal_exit_2:hover {
  color: #000;
}

.plat_modal_wrapper_3 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999;
  display: none;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(37, 37, 49, .5);
  text-align: center;
}

.plat_modal_exit_3 {
  padding: 15px;
  float: right;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #c3c1c1;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.plat_modal_exit_3:hover {
  color: #000;
}

.heading-5 {
  margin-top: 5px;
  margin-bottom: 9px;
}

.plat_course_card {
  margin-top: 11px;
  margin-bottom: 11px;
  padding: 1px 0px;
  border: 1px solid #cfcfd6;
  border-radius: 4px;
  background-color: #fdfefe;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);
}

.plat_course_card_view {
  color: #8f8f96;
}

.plat_course_card_view.plat_nav_link {
  text-align: center;
  text-decoration: none;
}

.plat_course_card_desc {
  padding: 15px;
  border-top: 1px solid #cfcfd6;
  background-color: #f5f5f5;
  text-align: center;
}

.plat_course_card_image {
  position: static;
  border-bottom: 1px none #000;
  opacity: 1;
}

.plat_course_card_overlay {
  position: static;
  background-color: rgba(0, 0, 0, .25);
}

.link-block {
  text-align: left;
  text-decoration: none;
}

.unordered-list {
  padding-left: 0px;
}

.plat_page_header_inverse {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Quicksand, sans-serif;
  color: #f9f9fa;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.05px;
}

.plat_page_header_inverse.plat_course_page_header {
  margin-top: 0px;
  font-size: 27px;
}

.plat_page_header_inverse.plat_page_header_form {
  border-bottom: 2px none #8262d3;
}

.plat_post_section {
  padding: 30px;
  background-color: #f6f6f6;
}

.plat_sales_page_container {
  font-family: 'Slabo 13px', sans-serif;
}

.plat_sales_page_header {
  margin-top: 30px;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.05px;
}

.plat_sales_page_subtitle {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  color: #666769;
  font-size: 24px;
  line-height: 2.2em;
  text-align: center;
}

.plat_sales_page_paragraph {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Slabo 13px', sans-serif;
  color: #666769;
  font-size: 18px;
  line-height: 1.8em;
}

.plat_sales_page_paragraph_container {
  margin-top: 20px;
  margin-bottom: 45px;
  font-family: 'Slabo 13px', sans-serif;
}

.plat_sales_page_course_info {
  text-align: left;
}

.plat_sales_page_course_header {
  margin-bottom: 15px;
  border-bottom: 1px solid #ececec;
  font-family: 'Slabo 13px', sans-serif;
  text-align: center;
}

.plat_sales_page_list {
  font-family: 'Slabo 13px', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
}

.text-span-2 {
  font-family: 'Slabo 13px', sans-serif;
  color: #21adad;
}

.plat_sales_page_li {
  font-family: 'Slabo 13px', sans-serif;
}

.plat_sales_page_purchase {
  margin-top: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-style: none;
  border-width: 1px;
  background-color: #fdfefe;
  font-family: 'Slabo 13px', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  text-align: center;
}

.plat_sales_button {
  padding: 20px 60px;
  background-color: #6867fe;
  -webkit-transition: background-color 1000ms ease;
  transition: background-color 1000ms ease;
  font-family: Quicksand, sans-serif;
  color: #fff;
  font-weight: 300;
}

.plat_sales_button:hover {
  background-color: #21adad;
}

.plat_testimonial {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 35px;
  border: 1px solid #cfcfd6;
  background-color: #f6f6f6;
  font-family: 'Slabo 13px', sans-serif;
}

.plat_block_quote {
  font-family: 'Slabo 13px', sans-serif;
  line-height: 1.8em;
}

.plat_sales_subheading {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
}

.plat_sales_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 17px 46px -6px rgba(0, 0, 0, .1);
}

.plat_purchase_row {
  border: 1px solid #cfcfd6;
}

.link {
  margin-right: 20px;
  margin-left: 20px;
}

.plat_course_menu_button {
  margin-top: -76px;
  margin-left: 11px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.plat_course_menu_button:hover {
  opacity: 1;
}

.plat_dark_background {
  padding: 40px 0px;
  background-color: #252531;
}

.plat_dark_background.plat_minvh_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 167px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.plat_call_to_action {
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
}

.success-message {
  background-color: #6867fe;
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.text-block-2 {
  line-height: 1.8em;
}

.error-message {
  background-color: #ff5050;
}

.text-block-3 {
  font-family: Quicksand, sans-serif;
  color: #fff;
  text-align: center;
}

html.w-mod-js *[data-ix="modal-interaction"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

html.w-mod-js *[data-ix="modal-interaction-2"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

html.w-mod-js *[data-ix="modal-interaction-3"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

@media (max-width: 991px) {
  .plat_mobile_icon {
    color: #fff;
  }
  .plat_mobile_menu.w--open {
    background-color: transparent;
  }
  .nav-menu {
    background-color: #3d3d3d;
    background-image: -webkit-linear-gradient(295deg, #21adad 25%, #8262d3);
    background-image: linear-gradient(155deg, #21adad 25%, #8262d3);
  }
  .plat_paragraph_padding {
    padding-right: 50px;
    padding-left: 50px;
  }
  .plat_flex_section.plat_flex_course_section.plat_minvh_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .plat_course_sidebar {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .plat_modal_wrapper {
    padding-top: 15px;
  }
  .plat_modal_box {
    width: auto;
  }
  .plat_sales_button {
    padding-right: 26px;
    padding-left: 26px;
  }
  .plat_course_menu_button {
    display: none;
  }
}

@media (max-width: 767px) {
  .plat_mobile_menu {
    background-color: transparent;
  }
  .plat_mobile_menu.w--open {
    background-color: transparent;
  }
  .plat_minvh_section.plat_background_whitesmoke {
    padding-right: 10px;
    padding-left: 10px;
  }
  .plat_paragraph.plat_content_paragraph {
    width: 100%;
  }
  .plat_paragraph.plat_paragraph_padding {
    padding-right: 25px;
    padding-left: 25px;
  }
  .plat_paragraph_padding {
    padding-right: 0px;
    padding-left: 0px;
  }
  .plat_nav_dark_link.plat_nav_link {
    margin-right: -10px;
    margin-left: 25px;
    padding-right: 0px;
  }
  .plat_nav_dark_link.plat_nav_link.plat_snav_padding {
    padding-right: 0px;
    padding-left: 0px;
  }
  .plat_course_content {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .plat_course_card {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .plat_sales_page_course_header {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

@media (max-width: 479px) {
  .plat_normal_div.plat_div_white {
    padding-right: 10px;
    padding-left: 10px;
  }
  .plat_paragraph.plat_content_paragraph {
    width: 100%;
  }
  .plat_content_div {
    text-align: left;
  }
  .plat_content_header {
    text-align: center;
  }
  .plat_paragraph_padding {
    padding-right: 13px;
    padding-left: 13px;
  }
  .plat_secondarynav_div {
    display: block;
    margin-right: 15px;
    margin-left: 25px;
    float: none;
    text-align: left;
  }
  .plat_nav_dark_link.plat_nav_link {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    text-align: left;
  }
  .plat_nav_dark_link.plat_nav_link.plat_snav_padding {
    margin-right: 7px;
    margin-left: 7px;
    padding-left: 7px;
  }
  .heading-2 {
    display: none;
  }
  .plat_course_sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .plat_tab_link {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .plat_sales_page_course_header {
    font-size: 22px;
  }
  .plat_sales_button {
    padding-right: 17px;
    padding-left: 17px;
  }
  .plat_testimonial {
    padding-right: 12px;
    padding-left: 12px;
  }
}

