/*
Theme Name: Platformer Academy [Minimal]
Theme URI: https://www.platformeracademy.com
Author: Jeremy Alexander
Author URI: https://www.jerementor.com
Description: The main theme for Platformer Academy
Version: 1.0.6
Text Domain: platformeracademy
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/

.menu{
  padding-left: 0px !important;
}

.menu-item{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.menu-item:hover {
  background-color: #002f61;
}

.menu-item > a {
  border-bottom: 2px dashed #537597;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  text-decoration: none;
}

.menu-item > a:hover {
  opacity: 1;
}

