/*
Theme Name: Platformer Academy [OMG]
Theme URI: https://www.platformeracademy.com
Author: Jeremy Alexander
Author URI: https://www.jerementor.com
Description: The main theme for Platformer Academy
Version: 1.2.4
Text Domain: platformeracademy
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/

p {
    margin-bottom: 35px !important;
}

.woocommerce-MyAccount-navigation > ul{
     list-style-type: none !important;
     padding-left: 0px !important;
}



/*oEmbed responsive*/
.embed-container { 
		position: relative; 
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		height: auto;
	} 

	.embed-container iframe,
	.embed-container object,
	.embed-container embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/*Sidebar*/
/*.sidebar_ul*/
.menu{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 0;
  list-style: none;  
}

/*.sidebar_li_lecture*/
.menu-item{
  margin-bottom: 0px;
  float: none;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px none rgba(0, 0, 0, .1);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 400;
  /*end of sidebar_li_lecture*/
  
  


}

/*.sidebar_li_lecture*/
.menu-item:hover{
  background-color: hsla(0, 7%, 66%, .1);
}

/*.w-inline-block*/
.menu-item > a{
    display: inline;
    float: none;
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    
      /*Lecture Link*/
     width: 100%;
     padding: 10px 20px;
      
      /*.w-inline-block*/
     max-width: 100%;
     display: inline-block;
  
    
}




/*Checkmark Button*/
.accessally-order-form-success-checkmark {
    color: #ffffff !important;
    border: 4px solid #290000 !important;
    background: #730000 !important;
}

/*Go To Course Button*/
.accessally-order-form-success-button {
    border-radius: 5px !important;
    border: 1px solid #290000 !important;
    background: #730000 !important;
    border-bottom: 3px solid !important;
    border-bottom-color: #290000 !important;
    color: white !important;
}
/*Next Button*/
.accessally-order-form-step-1-submit {
    float: none !important;
    border-radius: 5px !important;
    width: 100% !important;
    background-color: #730000 !important;
    border-bottom: 3px solid !important;
    border-bottom-color: #290000 !important;
}

/*Enter Coupon*/
/*Coupon Label*/
.accessally-order-form-header {
    color: #333 !important;
}

/*Coupon Background*/
.accessally-order-form-coupon-section {
    border: 1px solid rgba(0, 0, 0, 0.15)!important;
    border-radius: 5px !important;
    padding: 20px !important;
    background: rgba(173, 173, 173, 0.31) !important;
}

/*Coupon Input*/
.accessally-order-form-coupon-input-container input {
    background-color: #ffffff !important;
    border-radius: 5px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .1) !important;
    height: 50px !important;
}
/*Coupon Enter Button*/
.accessally-order-form-coupon-button {
    border-radius: 5px !important;
    border-color: #2c7973 !important;
    border-bottom: 3px solid !important;
    border-bottom-color: #004445 !important;
    color: #ffffff !important;
    background-color: #2c7973 !important;
    margin-top: 5px !important;
}

/*Progress Bar Line*/
.accessally-order-form-progress-connection {
    background-color: #730000;
}

/*Steps Coming Next on Progress Bar (icon) */
.accessally-order-form-progress-icon-highlight {
    background-color: #730000 !important;
}

/*Progress Bar Icon*/
.accessally-order-form-progress-icon {
    background-color: #195f59 !important;
}


/*Credit Card*/
.accessally-order-form-order-summary {
    border: 1px solid rgba(0, 0, 0, 0.15)!important;
    border-radius: 5px !important;
    padding: 20px !important;
    background: rgba(173, 173, 173, 0.31) !important;
}

/*Pay Now Button*/
.accessally-order-form-cc-pay {
    background-color: #730000 !important;
    width: 100% !important;
    border-radius: 5px !important;
    border-bottom: 3px solid !important;
    border-bottom-color: #290000 !important;
}
/*Coupon Applied*/
.accessally-order-form-promo-active-text {
    border: 1px solid #004445 !important;
    background: #004445!important;
    color: white !important;
}
/*Credit Card Information*/
.accessally-order-form-cc-section {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25) !important;
    margin-bottom: 20px !important;
}

/*Billing*/

/*Fix State Input Off-Centered*/
.accessally-order-form-billing-state-input {
    margin-left: 0px !important;
}

/*Error Message*/
.accessally-order-form-error {
    background-color: #730000;
    border-bottom: 3px solid;
    border-bottom-color: #270000;
    color: white;
}

/*Headline On Payment Success*/
.accessally-order-form-success-headline {
    text-align: center;
    color: #000000;
    color: #333;
    font-size: 24px;
    line-height: 1.4em;
    margin: 20px 0;
    font-weight: 700;
}



.accessally-order-form-step-2-top-section .accessally-order-form-billing-address-section {
    width: auto;
    padding: 0 30px 0 0;
}

.accessally-order-form-step-2-top-section .accessally-order-form-billing-address-container {
    width: 100% !important;
    display: block !important;
}

/*City/State*/
.accessally-order-form-billing-city-input, .accessally-order-form-billing-state-input, .accessally-order-form-billing-zip-input, .accessally-order-form-billing-country-input {
    width: 100% !important;
}

/*Summary of payment*/
.accessally-order-form-order-summary {
    border: 1px solid #bcbabe;
    background: #f1f1f2;
}
.accessally-order-form-step-2-top-section .accessally-order-form-order-summary-container {
    /*width: 100% !important;*/
    width: 530px !important;
    display: block !important;
}

.accessally-order-form-input input, .accessally-order-form-input select {
    width: 100% !important;
    height: 60px !important;
    background-color: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .1);
    line-height: 1.9rem !important;
    color: #333 !important;
    font-size: 16px;    
    
}
.accessally-order-form-input input, .accessally-order-form-input select {
    width: 100%;
    border-radius: 5px;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
}

/*Hide Company Name*/
.accessally-order-form-billing-company-input{
    display:    none !important;
}

/*Hide Phone Number*/
.accessally-order-form-billing-phone-input{
    display:    none !important;
}

/*Order Form As Block*/
.accessally-order-form-payment-section{
    display:    block !important;
}

/*Payment Details as Block*/
.accessally-order-form-payment-details-section{
    display:    block !important;
}

/*Guarantee as Full-Width Block*/
.accessally-order-form-guarantee-section{
    display:    block !important;
    width:      auto !important;
}

/*Selected Payment Method*/
.accessally-order-form-payment-option.accessally-order-form-payment-selected {
    border: 1px solid #730000;
    display: block;
    margin-bottom: 10px;
    color: white;
    background-color: #730000;
    border-bottom: 3px solid;
    border-bottom-color: #270000;
    border-radius: 5px;
}

/*Default Payment Method*/
.accessally-order-form-payment-option {
    display: block;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px;
}

/*Confirm Paypal Order*/
.accessally-order-form-paypal-express, .accessally-order-form-paypal-express-reopen, .accessally-order-form-paypal-express-confirm {
    border-radius: 5px;
    background-color: #730000;
    border-bottom: 3px solid;
    border-bottom-color: #270000;    
}