body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.45em;
}

h1 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-size: 3.998em;
  line-height: 1.2em;
  font-weight: 700;
}

h2 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-size: 2.827em;
  line-height: 1.2em;
  font-weight: 700;
}

h3 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #333;
  font-size: 1.999em;
  line-height: 1.2em;
  font-weight: 700;
}

h4 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #333;
  font-size: 1.414em;
  line-height: 1.2em;
  font-weight: 300;
}

p {
  margin-bottom: 1.3em;
  color: #333;
  font-size: 1.125em;
  line-height: 1.85em;
}

a {
  color: #ff5c33;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a.w--current {
  color: #1c9963;
  font-weight: 400;
  text-decoration: none;
}

ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 20px;
}

li {
  margin-bottom: 0.3em;
  font-size: 1.125em;
  list-style-type: square;
}

img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0.5em;
}

blockquote {
  margin-top: 1.414em;
  margin-bottom: 1.41em;
  padding: 10px 20px;
  border-left: 5px solid #ff5c33;
  font-size: 1em;
  line-height: 1.9em;
  font-style: italic;
}

.main_container {
  display: block;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}

.product_table {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 30px;
  border-style: solid solid dashed;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .07) rgba(255, 92, 51, .5);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 4px 15px -3px #d2d2d2;
  font-size: 0.8em;
}

.nav_link {
  color: #fff;
  font-size: 0.9em;
}

.image {
  display: block;
  margin-top: 0em;
  margin-right: auto;
  margin-left: auto;
}

.product_header {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #000;
  font-size: 1.265em;
  font-weight: 600;
}

.button_ghost {
  position: static;
  display: block;
  margin-top: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: none;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: rgba(0, 0, 0, .12);
  border-radius: 6px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #000;
  font-size: 1.125em;
  text-align: center;
}

.button_ghost:hover {
  background-color: #f5f5f5;
}

.button_ghost.button_access {
  margin-top: -35px;
  float: right;
}

.button_ghost.button_no_access {
  margin-top: -35px;
  float: right;
  background-color: #ff5c33;
  color: #fff;
}

.inline_header_div {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.8em;
  text-align: center;
}

.inline_header {
  display: inline;
  border-bottom: 4px dashed rgba(0, 0, 0, .07);
  color: #161d36;
}

.inline_header.product_page_title {
  text-transform: capitalize;
}

.product_section {
  margin-top: 0px;
  margin-bottom: 60px;
}

.heading-3 {
  margin-top: 15px;
  float: right;
  color: #fff;
  font-weight: 200;
}

.nav_bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #161d36;
  font-family: Poppins, sans-serif;
}

.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.max_width {
  display: block;
  max-width: 38em;
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-left: auto;
}

.blog_title {
  margin-top: 0em;
  color: #161d36;
}

.section {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section.grey {
  margin-top: 0px;
  background-color: #f5f5f5;
}

.section.c_blue {
  color: #fff;
}

.section.c_blue.cta_section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.c_blue.section_padding {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #161d36;
}

.section.c_black {
  background-color: #1b1919;
  color: #fff;
}

.section.c_black.section_padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.section_padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section.padded_section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.padded_section.c_black {
  background-color: #161d36;
  color: #fff;
}

.section.padded_section.c_black.section_no_button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section.padded_section.min_vh {
  min-height: 100vh;
}

.section.padded_section.min_vh.blog_content {
  border: 1px none #000;
  font-size: 0.9em;
}

.section.c_grey {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafc;
}

.section.c_grey.padded_section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.min_vh {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.flex_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.s_blue {
  background-color: #161d36;
}

.content_area {
  display: block;
  width: 960px;
  margin: 40px auto 60px;
}

.cta_header {
  margin-top: 0em;
  font-size: 3.668em;
  text-align: center;
}

.box {
  margin-bottom: 40px;
  padding: 10px 20px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  background-color: #fff;
}

.submit-button {
  width: 100%;
  height: 60px;
}

.input_field {
  height: 60px;
  color: #8d8b8b;
}

.section_centered_header {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.heading-4 {
  display: inline;
  border-bottom: 3px solid #c2c2c2;
}

.text-block {
  margin-top: 10px;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading-5 {
  font-weight: 400;
}

.sub_header {
  margin-top: 20px;
  color: #dbdbdb;
  font-weight: 300;
  text-align: left;
}

.button_center {
  margin-bottom: 20px;
  text-align: center;
}

.button_center.button_mega {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button_center.next_lecture_div {
  margin-top: 40px;
  margin-bottom: 0px;
  background-color: transparent;
}

.button_short {
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px 40px;
  border-radius: 6px;
  background-color: #ff5c33;
  color: #fff;
  font-size: 1.125em;
}

.button_short.w--current {
  color: #fff;
}

.button_short.orange {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ff9533;
  text-transform: none;
}

.button_short.prev_lecture {
  margin-right: 0px;
  margin-left: 0px;
  float: left;
  background-color: #da3208;
}

.button_short.next_lecture {
  margin-right: 0px;
  margin-left: 0px;
  float: right;
}

.center {
  display: block;
  margin: 20px auto 0.3em;
  color: #252424;
  text-align: left;
}

.submit_button {
  display: block;
  width: 100%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  border: 1px none grey;
  border-radius: 6px;
  background-color: #ff5c33;
  color: #fff;
}

.form-block {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.c_white {
  position: static;
  padding: 40px;
  border-radius: 6px;
  background-color: #fff;
}

.c_white.c_grey {
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #d4d4db;
  background-color: #fafafc;
}

.c_white.c_grey.w_bg {
  background-color: #fff;
}

.div-block {
  padding-left: 20px;
}

.heading-6 {
  font-weight: 400;
  text-transform: uppercase;
}

.cta_sub_header {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #e0e0e0;
  font-weight: 200;
  text-align: center;
}

.cta_sub_header.c_black {
  color: #252424;
}

.list_title {
  margin-bottom: 0.5em;
  color: #2a2a2a;
  font-weight: 400;
}

.small_text {
  color: #909090;
}

.list_item {
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 20px 40px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
  list-style-type: none;
}

.unordered-list {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
  border: 1px none #d3d3d3;
  border-radius: 6px;
  list-style-type: none;
}

.heading-7 {
  text-align: center;
}

.heading-8 {
  font-weight: 400;
  text-transform: none;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 25px;
  border-radius: 50%;
  background-color: #fff;
}

.image-4 {
  margin-bottom: 1.5em;
}

.block-quote {
  margin-bottom: 1.5em;
}

.page_header {
  margin-top: 0.5em;
  text-align: center;
}

.footer_text {
  margin-top: 1.3rem;
  color: #bbb;
  text-align: center;
}

.section_header {
  padding-bottom: 3px;
  border-bottom: 3px none #161d36;
  color: #161d36;
  font-weight: 300;
  text-decoration: none;
}

.footer {
  padding: 40px 20px;
  background-color: #e9e9f0;
}

.image-6 {
  margin-top: 24px;
  margin-right: 10px;
  float: left;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.image-6:hover {
  -webkit-transform: translate(0px, -14px);
  -ms-transform: translate(0px, -14px);
  transform: translate(0px, -14px);
}

.blog_author {
  margin-bottom: 1.5em;
}

.unordered-list-2 {
  margin-bottom: 1.5em;
}

._1280_div {
  display: block;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.book_cover {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 12px 47px 0 hsla(0, 0%, 100%, .1);
}

.p_white {
  color: #fff;
}

.card_mega {
  padding: 20px 180px;
}

.image-6-copy {
  display: block;
  margin-top: 24px;
  float: left;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.image-6-copy:hover {
  -webkit-transform: translate(0px, -14px);
  -ms-transform: translate(0px, -14px);
  transform: translate(0px, -14px);
}

.course_sidebar {
  position: static;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: auto;
  width: 20%;
  padding: 20px 25px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f3f5ff;
}

.course_ul {
  padding-left: 10px;
  list-style-type: none;
}

.lecture_li {
  margin-bottom: 0.4em;
  padding-left: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .21);
  font-size: 14px;
  list-style-type: decimal;
}

.lecture_link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-size: 14px;
  list-style-type: decimal;
}

.lecture_link:hover {
  color: #f38266;
}

.course_section {
  color: #6e6e6e;
  font-size: 16px;
  text-align: left;
  text-transform: none;
}

.lecture_sidebar {
  margin-bottom: 2.5em;
}

.sidebar_toc {
  margin-bottom: 1.6em;
  color: #464343;
  font-size: 18px;
  text-align: left;
  text-transform: none;
}

.copyright_message {
  padding-top: 40px;
  padding-bottom: 40px;
}

.copyright_text {
  text-align: center;
}

.product_image {
  display: block;
}

.footer_div {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #06080c;
}

.footer_text_center {
  color: #fff;
  text-align: center;
}

.unordered-list-3 {
  list-style-type: none;
}

.your_course_li {
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  padding-bottom: 10px;
  border-bottom: 1px dashed rgba(255, 92, 51, .5);
  font-size: 0.8em;
  list-style-type: none;
}

.product_header_title {
  margin-top: 0em;
  margin-bottom: 0.5em;
  float: left;
  color: #000;
  font-size: 1.265em;
  font-weight: 600;
}

.paragraph {
  float: left;
  clear: left;
}

.row {
  border-bottom: 1px dashed rgba(255, 92, 51, .5);
  font-size: 0.8em;
}

.your_course_paragraph {
  float: left;
}

.row-2 {
  font-size: 0.8em;
}

.your_course_detail {
  max-width: 38em;
  float: left;
  clear: left;
}

.flex_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section_full_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.vert_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.vert_footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vert_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-4 {
  width: 20%;
}

.div-block-5 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.course_content {
  overflow: scroll;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.9em;
}

.section_header_center {
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 92, 51, .33);
  color: #161d36;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.blog_content {
  font-size: 0.9em;
}

.sub_cta {
  color: #f8f8f8;
  font-weight: 300;
  text-align: center;
}

.blog_li {
  margin-bottom: 0.9em;
  line-height: 1.85em;
}

.featured_blog_image_post {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.flex_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_section.c_grey {
  background-color: #fafafc;
}

.div-block-6 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex_pricing {
  max-width: 500px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 20px 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .07) hsla(0, 0%, 100%, .07);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 100%, .2);
  font-size: 0.8em;
}

.flex_pricing.flex_pricing_middle {
  padding-top: 40px;
  padding-bottom: 40px;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(255, 92, 51, .59);
  font-size: 0.9em;
}

.c_blue {
  background-color: #161d36;
}

.flex_price {
  margin-top: 0.5em;
  text-align: center;
}

.list_title_bold {
  margin-bottom: 0.5em;
  color: #2a2a2a;
  font-weight: 600;
}

.blog_card {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-right: 0px;
  padding-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .2);
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  color: #333;
}

.blog_card:hover {
  color: #ff5c33;
}

.blog_card_body {
  padding: 20px 40px;
  font-size: 0.8em;
}

.blog_card_title {
  margin-top: 0em;
  font-size: 2.414em;
  font-weight: 400;
}

.blog_image {
  margin-bottom: 0em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.blog_excerpt {
  margin-bottom: 0em;
  color: #777;
}

.blog_link {
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.blog_link:hover {
  -webkit-transform: translate(0px, -8px);
  -ms-transform: translate(0px, -8px);
  transform: translate(0px, -8px);
  text-decoration: none;
}

.button_ghost_orange {
  position: static;
  display: block;
  margin-top: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: none;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: rgba(0, 0, 0, .12);
  border-radius: 6px;
  background-color: #ff5c33;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 1.125em;
  text-align: center;
}

.button_ghost_orange:hover {
  background-color: #e23307;
}

.button_ghost_orange.button_access {
  margin-top: -35px;
  float: right;
}

.button_ghost_orange.button_no_access {
  margin-top: -35px;
  float: right;
  background-color: #ff5c33;
  color: #fff;
}

.div-block-7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dash_nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ececec;
}

.second_nav {
  margin-right: 20px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #424040;
  text-decoration: none;
}

.second_nav:hover {
  color: #ff5c33;
}

.container-2 {
  text-align: center;
}

@media (max-width: 991px) {
  .main_container {
    width: auto;
    padding: 0px;
  }
  .nav_link {
    color: #000;
  }
  .container {
    display: block;
  }
  .max_width {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .content_area {
    width: auto;
  }
  .form-block {
    margin-right: 0px;
    margin-left: 0px;
  }
  .c_white.c_grey {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  ._1280_div {
    width: auto;
  }
  .course_sidebar {
    position: static;
    display: block;
    overflow: visible;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    float: none;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .nav-menu {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    color: #000;
  }
  .nav-menu-2 {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    background-color: #fff;
  }
  .menu-button-2 {
    color: #ccacac;
  }
  .menu-button-2.w--open {
    background-color: transparent;
    color: #000;
  }
  .icon {
    color: #fff;
  }
  .footer_div {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .icon-2 {
    color: #fff;
  }
  .flex_wrapper {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .section_full_flex {
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .flex_section.c_blue {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex_pricing {
    margin-bottom: 1em;
  }
}

@media (max-width: 767px) {
  img {
    display: block;
    margin-right: auto;
    margin-bottom: 2.5em;
    margin-left: auto;
  }
  .product_table {
    margin-right: 20px;
    margin-left: 20px;
  }
  .product_header {
    text-align: center;
  }
  .product_description {
    text-align: center;
  }
  .button_ghost.button_access {
    width: 100%;
    margin-top: 0px;
  }
  .button_ghost.button_no_access {
    width: 100%;
    margin-top: 0px;
  }
  .max_width {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .center {
    width: auto;
  }
  .c_white.c_grey {
    margin-bottom: 40px;
  }
  .image-4 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .image-5 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .product_image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .product_header_title {
    text-align: center;
  }
  .your_course_detail {
    max-width: 38em;
  }
  .featured_blog_image_post {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .flex_section.c_blue {
    padding-right: 19px;
    padding-left: 19px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex_pricing {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .button_ghost_orange.button_access {
    width: 100%;
    margin-top: 0px;
  }
  .button_ghost_orange.button_no_access {
    width: 100%;
    margin-top: 0px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 2.998em;
  }
  .product_table {
    margin-right: 10px;
    margin-left: 10px;
  }
  .button_ghost.button_access {
    width: 100%;
    margin-top: 10px;
  }
  .button_ghost.button_no_access {
    width: 100%;
    margin-top: 10px;
    float: right;
  }
  .max_width {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
  .blog_title {
    font-size: 2.998em;
  }
  .button_short {
    margin-bottom: 10px;
  }
  .button_short.prev_lecture {
    width: 100%;
    float: none;
  }
  .button_short.next_lecture {
    width: 100%;
    float: none;
  }
  .center {
    width: auto;
  }
  .c_white.c_grey {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .list_item {
    padding: 20px;
  }
  .flex_section.c_blue {
    padding-right: 0px;
    padding-left: 0px;
  }
  .flex_pricing {
    max-width: 500px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .button_ghost_orange.button_access {
    width: 100%;
    margin-top: 10px;
  }
  .button_ghost_orange.button_no_access {
    width: 100%;
    margin-top: 10px;
    float: right;
  }
}

