/*
Theme Name: Platformer Academy [Make]
Theme URI: https://www.platformeracademy.com
Author: Jeremy Alexander
Author URI: https://www.jerementor.com
Description: The main theme for Platformer Academy
Version: 1.2.6
Text Domain: platformeracademy
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/


/****************CHECKOUT***************/
.woocommerce form .form-row {
    width: 100% !important;
}
.woocommerce-checkout #payment div.payment_box input.input-text, .woocommerce-checkout #payment div.payment_box textarea {
    width: 100% !important;
    padding: 8px;
}
.woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select {
    width: 100%;
    height: 30px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: left;
    width: 100%;
}
.custom-checkout h3 {
    background-color: #165f1c;  /****CHANGE TO COLOR YOU WANT TO USE FOR TITLE BACKGROUND ****/
    width: 45%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    color: #FFF;
    float: right;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    padding: .6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: 400;
   border:solid 2px #e4e4e4;
}

#wc_checkout_add_ons {
    width: 45%;
    float: right;
    text-align: center;
}

@media screen and (min-width: 980px) {
.woocommerce-shipping-fields h3, .woocommerce-billing-fields h3 {width:100%;}
.woocommerce .col2-set, .woocommerce-page .col2-set {
 width: 45%;
 float: left;
}
.woocommerce-checkout-review-order{
 width: 45%;
 float: right;
}
}
@media screen and (max-width: 979px) {
.custom-checkout h3 {
 width: 100%;
}
}



.widget_nav_menu{
  margin-bottom: 2.5em;
}

.section_title_header{
  color: #6e6e6e;
  font-size: 16px;
  text-align: left;
  text-transform: none;
}

/*Dashboard navigation - moved over*/
.woocommerce-MyAccount-navigation > ul{
    /*list-style-type: none !important;*/
     padding-left: 0px !important;
     margin-left: 75px !important;
}

/*Last name & email moved over*/
.woocommerce form .form-row-last {
    float: none !important;
}


/*success colors*/
.woocommerce-message {
    border-top-color: #ff5c33;
}
.woocommerce-message::before {
    content: '\e015';
    color: #ff5c33;
}

/*warning colors*/
.woocommerce-info::before {
    color: #161d36;
}

.woocommerce-info {
    border-top-color: #161d36;
}

/*Last name & email padding, width and margin adjusted*/
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    padding: 10px;
    width: 100% !important;
    margin-bottom: 0.5em;
    min-width: 0;
}

/**/
div.woocommerce-billing-fields__field-wrapper > input {
   width: auto !important;
   min-width: 0;
}

/*Credit card list style type*/
#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
    list-style-type: none;
}

/*Credit card button*/
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #ff5c33;
    width: 100%;
    padding: 20px;
}

/*button hover!*/
.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
    background-color: #161d36;
}

/*Credit card div margin - change color later*/
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #ebe9eb;
    border-radius: 5px;
    margin-bottom: 3.5em;
}

/*Payment radio button*/
input[type="checkbox"], input[type="radio"] {
    float: left;
    margin-top: 15px !important;
    transform: scale(1.8);
    margin-left: 15px !important;
    margin-right: 15px;    
}

/*Change checkout page to two columns*/
/*@media (min-width: 993px) {*/

	/* ---------------------
        WOOCOMMERCE CHECKOUT COLUMNS
        --------------------- */
/*        body .woocommerce .col2-set .col-1{*/
/*            width: 100%;*/
/*        }*/
/*        .woocommerce-billing-fields h3{*/
/*            margin-top:0px;*/
/*        }*/
/*        .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper input{*/
/*            width: auto !important;*/
/*        }*/
/*        .woocommerce .col2-set, .woocommerce-page .col2-set{*/
/*            width: 48%;*/
/*            float: left;*/
            /*margin: auto;*/
/*        }*/
/*        #order_review_heading, .woocommerce #order_review, .woocommerce-page #order_review{*/
/*            float: right;*/
/*            width: 48%;*/
/*            margin-left: 2%;*/
/*        }*/

/*}*/

/*login form*/
.woocommerce form .form-row label.inline {
    display: inline-block;
}

/*login form button*/
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    width: 100%;
    padding: 18px;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*lost password margin to match check box*/
.woocommerce-LostPassword{
    margin-left: 15px !important;
}

/*Login form width - breaks cart page update cart button*/
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    width: 100%;
}

/*Coupon button on cart page*/
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 100%;
    padding: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*cart quantity height change*/
.woocommerce .quantity .qty {
    height: 2.4em;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    padding: 20px !important;
    /*width: auto !important;*/
}