.main_container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Poppins, sans-serif;
}

.min_vh {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.9em;
}

.navbar {
  background-color: #004445;
  color: hsla(0, 0%, 100%, 0);
}

.image {
  margin-top: 20px;
  float: left;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform 500ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform 500ms cubic-bezier(.68, -.55, .265, 1.55), -webkit-transform 500ms cubic-bezier(.68, -.55, .265, 1.55);
}

.image:hover {
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

.header1 {
  display: block;
  font-weight: 800;
  text-decoration: none;
}

.container {
  color: #000;
}

.text_logo {
  margin-top: 17px;
  margin-right: 15px;
  margin-left: 15px;
  float: left;
  border-bottom: 2px none #730000;
  opacity: 1;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.text_logo:hover {
  border-bottom-width: 3px;
  opacity: 1;
}

.brand {
  margin-top: 0px;
}

.nav_link {
  opacity: 0.5;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  font-family: Poppins, sans-serif;
  color: #fff4f4;
  font-size: 14px;
}

.nav_link:hover {
  opacity: 1;
}

.nav_link.w--current {
  opacity: 1;
  color: #000;
}

.header2.blog_title {
  color: #000;
  line-height: 1.4em;
  font-weight: 700;
  text-align: center;
}

.header3 {
  display: inline;
  border-bottom: 2px none #7d15ad;
  font-weight: 600;
}

.header3.main_underline {
  display: block;
  float: none;
  clear: none;
  border-bottom-style: solid;
  border-bottom-color: #730000;
}

.header3.main_underline.card_header {
  display: inline-block;
  margin-bottom: 20px;
  float: none;
  clear: none;
  border-bottom-color: #290000;
}

.header3.centered {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.header4 {
  color: #000;
  font-weight: 500;
  text-align: left;
}

.header5 {
  font-size: 16px;
  font-weight: 400;
}

.header6 {
  font-size: 14px;
  font-weight: 300;
}

.icon {
  position: fixed;
  left: 20px;
  top: 60px;
  z-index: 99999999;
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  float: none;
  border-radius: 5px;
  background-color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}

.content_area {
  width: 960px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  line-height: 1.9em;
  font-weight: 300;
}

.content_link {
  margin-bottom: 5px;
  color: #9612d4;
  font-weight: 500;
}

.content_link:hover {
  color: #981616;
}

.link {
  display: inline-block;
  border-bottom: 2px solid #730000;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #333;
  text-decoration: none;
}

.content_list {
  padding-left: 0px;
  list-style-type: none;
}

.content_button {
  margin-top: 5px;
  margin-bottom: 5px;
  float: none;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #9612d4 #9612d4 #6b0898;
  border-radius: 5px;
  background-color: #730000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.content_button:hover {
  background-color: #981616;
}

.content_button.content_submit {
  width: 100%;
  height: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: none;
  border-width: 1px;
  border-color: #135253;
  background-color: #004445;
  font-size: 16px;
}

.content_button.content_submit:hover {
  background-color: #091020;
}

.content_input {
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .15);
  border-radius: 5px;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, .2);
  color: #949494;
  font-size: 16px;
}

.content_label {
  font-weight: 400;
  text-transform: uppercase;
}

.block-quote {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) #357e88;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: hsla(0, 0%, 95%, .5);
  color: #3f3b3b;
  font-size: 18px;
  line-height: 2.1em;
  font-weight: 300;
}

.content_card {
  margin-top: 25px;
  margin-bottom: 40px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.content_card_link {
  width: 100%;
  color: #333;
  text-decoration: none;
}

.content_blog_li {
  margin-bottom: 10px;
  text-align: left;
}

.content_title {
  float: left;
}

.content_type {
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  border-radius: 5px;
  color: #fff;
}

.blog_meta {
  text-align: left;
}

.blog_content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content_paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 2em;
  font-weight: 400;
}

.content_type_text {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #004445;
}

.content_type_text.article {
  background-color: #730000;
}

.footer {
  margin-top: 80px;
  text-align: center;
}

.text-block {
  color: #c9c8c8;
  font-size: 14px;
}

.course_sidebar {
  position: fixed;
  left: 0px;
  top: 60px;
  z-index: 999;
  overflow: auto;
  width: 20%;
  height: 100%;
  min-width: 200px;
  padding: 20px 0px 40px;
  background-color: hsla(0, 7%, 66%, .1);
}

.sidebar_ul {
  margin-top: 10px;
  margin-bottom: 0px;
}

.icon-menu {
  position: fixed;
  left: 240px;
  top: 70px;
  z-index: 99999999;
  display: inline-block;
  margin-top: -20px;
  float: none;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}

.icon-menu:hover {
  opacity: 1;
}

.icon_close {
  font-size: 18px;
}

.icon_open {
  display: none;
  font-size: 18px;
}

.section_title {
  margin: 20px 20px 40px;
  padding: 10px 0px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.section_title_header {
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 2px none #7d15ad;
  opacity: 1;
  color: #333;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.duration {
  display: block;
  float: none;
  color: #969696;
  font-size: 15px;
  font-weight: 300;
}

.lecture_link {
  width: 100%;
  padding: 10px 20px;
  float: none;
  text-decoration: none;
}

.sidebar_li_lecture {
  margin-bottom: 0px;
  float: none;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px none rgba(0, 0, 0, .1);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 400;
}

.sidebar_li_lecture:hover {
  background-color: hsla(0, 7%, 66%, .1);
}

.lecture_title {
  display: inline;
  float: none;
  color: #202020;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.card_meta {
  padding: 20px;
}

.content_card_desc {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.content_card_desc:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.form-block {
  display: block;
  width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.card_desc {
  margin-bottom: 10px;
}

.content_card_button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  float: none;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #9612d4 #9612d4 #290000;
  border-radius: 5px;
  background-color: #730000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  text-align: center;
}

.content_card_button:hover {
  background-color: #981616;
}

.home_sub {
  margin-bottom: 20px;
  font-weight: 200;
  text-align: center;
}

.row {
  margin-top: 0px;
  margin-bottom: 20px;
}

.turn_text {
  font-weight: 200;
  text-align: center;
}

.grey_div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #bcbabe;
  border-radius: 5px;
  background-color: #f1f1f2;
}

.card_content_desc {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  clear: none;
}

.tab_link {
  width: 49.6%;
  margin-top: 40px;
  margin-bottom: 0px;
  border-bottom: 3px solid #bebaba;
  background-color: #ececec;
  text-align: center;
}

.tab_link.w--current {
  border-bottom-color: #000;
  background-color: #004445;
  color: #fff;
}

.notifier {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 15px;
  border-radius: 5px;
  background-color: #981616;
  color: #fff;
}

.header4_author {
  color: #000;
  font-weight: 500;
  text-align: center;
}

.tabs {
  margin-top: 0px;
  margin-bottom: 0px;
}

.success-message {
  border-bottom: 3px solid #6b0898;
  background-color: #981616;
  color: #fff;
}

.error-message {
  background-color: #290000;
  color: #fff;
  text-align: center;
}

.sales_subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5em;
  font-weight: 200;
  text-align: center;
}

.sales_title {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.sales_content {
  margin-top: 60px;
  margin-bottom: 60px;
}

.heading-4 {
  margin-bottom: 40px;
  line-height: 1.4em;
  text-align: center;
}

.course_toc {
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid #bcbabe;
  border-radius: 5px;
}

.unordered-list {
  padding-left: 20px;
}

.purchase_card-copy {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: #7d15ad;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  color: #fff;
  text-align: left;
}

.content_button-copy {
  margin-top: 5px;
  margin-bottom: 5px;
  float: none;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #9612d4 #9612d4 #70003b;
  border-radius: 5px;
  background-color: #e7097e;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.content_button-copy:hover {
  background-color: #ff0086;
}

.heading-5-copy {
  margin-top: 0px;
  float: none;
  border-bottom: 3px solid #f6f6f6;
  font-size: 31px;
  text-align: left;
}

.heading-6 {
  margin-bottom: 22px;
  font-size: 28px;
  text-align: center;
}

.home_bullets {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 0px;
}

.text-block-4 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.toc_lecture {
  width: 100%;
  padding: 0px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: hsla(0, 7%, 66%, .1);
}

.toc_section {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: hsla(0, 7%, 66%, .1);
}

.toc_section_title {
  display: inline;
  float: none;
  color: #202020;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.rich-text-block {
  text-align: left;
}

.heading-7 {
  margin-bottom: 20px;
  text-align: center;
}

.toc_toc {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: hsla(0, 7%, 66%, .17);
  text-align: center;
}

.toc_meta {
  float: left;
}

.toc_package {
  float: right;
}

.package {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #6fb98f;
  color: #fff;
}

.package.advanced_package {
  background-color: #2c7973;
}

.package.master_package {
  background-color: #004445;
}

.cta_button {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
}

.cta_button.grey_div {
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 1px;
  border-color: #bcbabe;
  background-color: #f1f1f2;
}

.author_bio {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.heading-8 {
  text-align: center;
}

.section_lectures {
  margin-top: 5px;
  padding-left: 20px;
  list-style-type: square;
}

.heading-10 {
  text-align: center;
}

.master_sales_package {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #082829;
  border-radius: 5px;
  background-color: #004445;
  color: #fff;
}

.heading-13 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 48px;
  text-align: center;
}

.text-span {
  color: #cacaca;
  text-decoration: line-through;
}

.special_bonus {
  margin-top: 20px;
  margin-bottom: 20px;
}

.preorder_closes {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}

.sales_button-copy {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.text-span-2 {
  color: #cacaca;
  text-decoration: line-through;
}

.cta_button_g {
  margin: 5px 10px;
  padding: 20px 30px;
  float: none;
  border-style: none none solid;
  border-width: 1px 1px 3px;
  border-color: #5c020e #5c020e #290000;
  border-radius: 32px;
  background-color: #730000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 17px;
}

.cta_button_g:hover {
  background-color: #981616;
}

.cta_button_g_big {
  width: 100%;
  height: 75px;
  margin: 5px 0px;
  padding-top: 22px;
  float: none;
  border-style: none none solid;
  border-width: 1px 1px 3px;
  border-color: #5c020e #5c020e #290000;
  border-radius: 32px;
  background-color: #730000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 20px;
}

.cta_button_g_big:hover {
  background-color: #900113;
}

.sales_contentt_author {
  margin-top: 100px;
  margin-bottom: 100px;
}

.sales_package {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #082829;
  border-radius: 5px;
  color: #000;
}

.cta_button_g_big_advanced {
  width: 100%;
  height: 75px;
  margin: 5px 0px;
  padding-top: 22px;
  float: none;
  border-style: none none solid;
  border-width: 1px 1px 3px;
  border-color: #5c020e #5c020e #184e4a;
  border-radius: 32px;
  background-color: #2c7973;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 20px;
}

.cta_button_g_big_advanced:hover {
  background-color: #1a5a55;
}

.cta_button_g_big_starter {
  width: 100%;
  height: 75px;
  margin: 5px 0px;
  padding-top: 22px;
  float: none;
  border-style: none none solid;
  border-width: 1px 1px 3px;
  border-color: #5c020e #5c020e #2f5a42;
  border-radius: 32px;
  background-color: #6fb98f;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 20px;
}

.cta_button_g_big_starter:hover {
  background-color: #469267;
}

.text-block-5 {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-14 {
  margin-bottom: 20px;
  text-align: center;
}

.home_content {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 300;
}

.button-2 {
  margin-right: 16px;
}

.modal_wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999999999;
  display: none;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .2);
}

.modal_content_area {
  display: block;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 0px;
  float: none;
  border-radius: 5px;
  background-color: #fff;
}

.modal_main_container {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.close_modal {
  display: inline;
  padding: 8px;
  float: right;
  border-radius: 5px;
  background-color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  text-align: right;
  cursor: pointer;
}

.close_modal:hover {
  opacity: 1;
}

.modal_wrapper_2 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999999999;
  display: none;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .2);
}

.modal_wrapper_3 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999999999;
  display: none;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .2);
}

.button-3 {
  margin-right: 10px;
}

.modal_main_container-_2 {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.modal_content_area_2 {
  display: block;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 0px;
  float: none;
  border-radius: 5px;
  background-color: #fff;
}

.faq_dropdown {
  width: 100%;
}

.dropdown_toggle {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .25);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.dropdown_toggle:hover {
  border-color: rgba(0, 0, 0, .5);
}

.faq_dropdown_list {
  position: relative;
  height: 0px;
}

.dropdown_text {
  margin-left: 20px;
}

.faq_header {
  margin-bottom: 0px;
  line-height: 1.4em;
  text-align: center;
}

.then_list {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #969696;
  list-style-type: square;
}

.section_ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.dropdown_text_content {
  overflow: hidden;
}

.right_sidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99999999;
  display: none;
  overflow: auto;
  width: 25%;
  height: 100%;
  min-width: 200px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: hsla(0, 7%, 66%, .1);
}

.sales_video {
  margin-top: 40px;
  margin-bottom: 40px;
}

.black_friday_bonus {
  margin-bottom: 20px;
  color: #0c0c0c;
  font-size: 25px;
  line-height: 1.4em;
  font-weight: 300;
}

.rich-text-block-2 {
  font-family: Poppins, sans-serif;
  line-height: 2.4em;
  font-weight: 200;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.9em;
  font-weight: 300;
  text-align: left;
}

.featured_image {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  text-align: left;
}

.text-block-6 {
  font-size: 14px;
  text-align: center;
}

.paragraph-copy {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.9em;
  font-weight: 300;
  text-align: left;
}

.featured_image_text {
  color: #a3a1a1;
  font-size: 15px;
  line-height: 1.9em;
  text-align: center;
}

.text-block-8 {
  font-size: 20px;
  text-align: center;
}

.bottom_navbar {
  text-align: center;
}

.bottom_link {
  color: #929292;
  text-decoration: underline;
}

.product_card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #cacaca;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.product_card:hover {
  box-shadow: 0 4px 3px 0 #cacaca;
}

.image-3 {
  float: none;
}

.product_image {
  float: left;
}

.product_desc {
  margin-left: 176px;
  padding-left: 10px;
}

.heading-15 {
  margin-bottom: 0px;
}

.image-4 {
  border-radius: 10px;
}

.heading-16 {
  color: #000;
  text-align: center;
}

.rich-text-block-3 {
  font-size: 20px;
  font-weight: 300;
}

.body {
  font-family: Poppins, sans-serif;
}

.bold-text {
  font-size: 16px;
  text-align: left;
}

.fullwidth_div {
  padding: 40px;
  background-color: #091020;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.left_header {
  color: #fff;
  line-height: 1.3em;
  text-align: left;
}

.center_sub_header {
  font-size: 17px;
  line-height: 1.9em;
  font-weight: 300;
  text-align: center;
}

.center_header {
  text-align: center;
}

.center_header.black {
  margin-top: 40px;
  margin-bottom: 28px;
  color: #3d3d3d;
}

.center_header.sub {
  margin-bottom: 40px;
  font-weight: 400;
}

.left_sub_header {
  font-size: 17px;
  line-height: 1.9em;
  font-weight: 300;
  text-align: left;
}

.image-5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.blue_flash_box {
  padding: 20px;
  border: 1px solid #5dbeff;
  background-color: #addeff;
  font-size: 16px;
}

.heading-17 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.featured_image_non_rounded {
  display: block;
  margin: 20px auto;
  text-align: left;
}

.screenshot_skeleton {
  padding: 10px;
  border: 1px solid #c0bdbd;
}

.email_div {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.sales_row {
  margin-bottom: 40px;
}

.heading-18 {
  margin-bottom: 20px;
  text-align: center;
}

.form_block_no {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading-19 {
  margin-bottom: 20px;
  text-align: center;
}

.element_guide {
  margin: 20px 20px 40px;
  padding: 10px 0px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.lesson_number {
  display: block;
  float: none;
  color: #969696;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.lesson_title {
  display: block;
  float: none;
  color: #202020;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-decoration: none;
}

.element_list {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-top: 1px solid rgba(0, 0, 0, .09);
  border-bottom: 1px none rgba(0, 0, 0, .09);
}

.unordered-list-2 {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading-20 {
  color: #a19e9e;
  font-weight: 300;
  text-align: center;
}

.text-span-3 {
  color: rgba(61, 61, 61, .5);
  font-weight: 200;
}

.cta {
  margin-bottom: 60px;
}

.section_header {
  margin-top: 0px;
  font-size: 23px;
}

.small_text {
  margin-bottom: 40px;
  padding-right: 40px;
  padding-left: 30px;
  font-size: 18px;
  line-height: 1.8em;
}

html.w-mod-js *[data-ix="modal-init"] {
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

@media (max-width: 991px) {
  .min_vh {
    overflow: auto;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: hsla(0, 0%, 100%, 0);
  }
  .icon {
    display: none;
    color: #000;
  }
  .content_area {
    position: static;
    width: auto;
  }
  .course_sidebar {
    position: absolute;
    left: 0px;
    top: 750px;
    z-index: 9999999;
    display: block;
    overflow: auto;
    width: 100%;
    text-align: center;
  }
  .icon-menu {
    display: none;
    color: #000;
  }
  .product_desc {
    margin-left: 158px;
  }
}

@media (max-width: 767px) {
  .main_container {
    width: auto;
  }
  .min_vh {
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .nav_link {
    opacity: 0.8;
  }
  .menu-button {
    color: #fff;
  }
  .block-quote {
    margin-right: 10px;
    margin-left: 10px;
  }
  .course_sidebar {
    top: 600px;
    padding-top: 41px;
  }
  .icon-menu {
    position: static;
    display: block;
    margin-top: 0px;
    color: #fff;
  }
  .toc_meta {
    float: none;
  }
  .toc_package {
    float: none;
    text-align: center;
  }
  .modal_wrapper {
    display: none;
  }
  .modal_content_area {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
  }
  .modal_main_container {
    display: block;
    width: auto;
  }
  .close_modal {
    margin-right: 10px;
  }
  .modal_wrapper_2 {
    display: none;
  }
  .modal_wrapper_3 {
    display: none;
  }
  .modal_main_container-_2 {
    display: block;
    width: auto;
  }
  .modal_content_area_2 {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
  }
  .featured_image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .featured_image_text {
    display: block;
    text-align: center;
  }
  .featured_image_non_rounded {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .min_vh {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .header1 {
    font-size: 38px;
  }
  .menu-button {
    margin-top: 5px;
  }
  .content_area {
    margin-top: 0px;
  }
  .block-quote {
    margin-left: 0px;
  }
  .content_title {
    float: none;
  }
  .content_type {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
  }
  .course_sidebar {
    top: 600px;
    overflow: auto;
  }
  .icon-menu {
    margin-top: -5px;
  }
  .tab_link {
    width: 100%;
  }
  .heading-4 {
    display: block;
    font-size: 28px;
  }
  .home_bullets {
    padding-left: 20px;
  }
  .toc_section_title {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  .toc_meta {
    width: 100%;
    float: none;
  }
  .toc_package {
    width: 100%;
    float: left;
  }
  .package {
    float: none;
    text-align: center;
  }
  .package.advanced_package {
    text-align: center;
  }
  .cta_button_g {
    font-size: 14px;
  }
  .cta_button_g_big {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 16px;
  }
  .cta_button_g_big_advanced {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 16px;
  }
  .cta_button_g_big_starter {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 16px;
  }
  .modal_wrapper_3 {
    display: none;
  }
  .faq_header {
    display: block;
    font-size: 28px;
  }
  .dropdown_text_content {
    overflow: hidden;
  }
  .product_desc {
    margin-left: 0px;
  }
}

