.plat_navbar {
  padding: 10px;
  border-bottom: 1px solid #cfcfd6;
  background-color: #fff;
  font-family: Quicksand, sans-serif;
  color: #000;
}

.plat_minvh_section {
  display: block;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9f9fa;
  font-family: Quicksand, sans-serif;
}

.plat_text_logo {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000;
  font-size: 24px;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.plat_course_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 20px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 25%;
  -webkit-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  border: 1px solid #cfcfd6;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.plat_padding_section {
  padding: 0px;
  background-color: #f9f9fa;
}

.plat_padding_section.plat_minvh_section {
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: Quicksand, sans-serif;
}

.plat_padding_section.plat_minvh_section.plat_flex_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.plat_padding_section.plat_minvh_section.plat_video_lecture {
  padding-top: 0px;
  background-color: #f2f3f0;
}

.plat_course_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px none #cfcfd6;
}

.plat_template_header {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #27b4af;
  text-align: left;
}

.heading-2 {
  margin-top: 0px;
  color: #a8a8a8;
  font-weight: 400;
}

.plat_course_meta {
  padding: 20px;
  border-top: 1px solid #cfcfd6;
  font-family: Quicksand, sans-serif;
  text-align: left;
}

.plat_video_header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.plat_lead_button {
  margin-top: 20px;
  padding: 20px 40px;
  float: right;
  border: 1px solid #cfcfd6;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #333;
}

.plat_lead_button:hover {
  background-color: #f1f1f1;
}

.pop_lecture_card {
  padding: 120px 20px 10px;
  border: 1px solid #cfcfd6;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .15);
  font-family: Quicksand, sans-serif;
  text-align: center;
}

.pop_lecture_card.unlocked {
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  text-decoration: none;
}

.pop_lecture_card.unlocked:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pop_lecture_card.locked {
  opacity: 0.5;
}

.pop_lecture_number {
  color: #333;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.pop_lecture_price {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px 20px;
  border-radius: 4px;
  color: #fffdfd;
  text-align: left;
}

.pop_lecture_price.free {
  background-color: #27b4af;
  color: #fff;
}

.pop_lecture_price.premium {
  background-color: #ffab08;
}

.pop_lecture_price.master {
  background-color: #fd373c;
}

.pop_lecture_price.completed {
  background-color: #007a76;
}

.pop_lecture_meta {
  padding: 20px;
  color: #000;
  text-align: left;
  text-decoration: none;
}

.plat_page_header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pop_lecture_link {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.plat_card_header {
  font-weight: 700;
}

.pop_lecture_row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.plat_home_cta {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
}

.plat_home_subheader {
  color: #27b4af;
  font-weight: 400;
  text-align: center;
}

.form-block {
  margin-top: 0px;
  margin-bottom: 0px;
}

.plat_input_base {
  height: 75px;
  border-left: 5px solid #27b4af;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
}

.plat_input_base.plat_submit_button {
  width: 100%;
  height: 75px;
  border: 1px none #cfcfd6;
  border-radius: 5px;
  background-color: #27b4af;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
}

.plat_input_base.plat_submit_button:hover {
  background-color: #1a9490;
}

.plat_home_section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.dropdown {
  font-family: Quicksand, sans-serif;
}

.dropdown-toggle {
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-weight: 500;
}

.dropdown-toggle:hover {
  opacity: 1;
}

.dropdown-link {
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #cfcfd6;
  background-color: #f5f5f5;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.dropdown-link:hover {
  background-color: #fff;
}

.dropdown-link.dropdown-link-middle {
  border-top-style: none;
  border-bottom-style: none;
}

.dropdown-list {
  margin-top: 0px;
}

.dropdown-list.w--open {
  margin-top: -15px;
}

.plat_paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 2em;
}

.plat_paragraph.plat_paragraph_centered {
  text-align: center;
}

.pop_lecture_modal_wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99999999;
  display: none;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .6);
}

.pop_lecture_modal_content {
  display: block;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}

.pop_lecture_modal_content.pop_lecture_white {
  overflow: auto;
  width: 960px;
  background-color: #fff;
  font-family: Quicksand, sans-serif;
}

.pop_modal_close {
  padding: 15px;
  float: right;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #adadad;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.pop_modal_close:hover {
  color: #333;
}

.plat_modal_close {
  display: block;
  margin-top: 0px;
  margin-bottom: 40px;
}

.pop_lecture_modal_wrapper_2 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99999999;
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .6);
}

.pop_modal_close_2 {
  padding: 15px;
  float: right;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #adadad;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.pop_modal_close_2:hover {
  color: #333;
}

.pop_lecture_modal_wrapper_3 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99999999;
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .6);
}

.pop_modal_close_3 {
  padding: 15px;
  float: right;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #adadad;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.pop_modal_close_3:hover {
  color: #333;
}

.plat_content_header {
  margin-bottom: 20px;
  padding: 2px 10px 2px 0px;
  border-bottom: 2px solid #27b4af;
  background-color: transparent;
  -webkit-transition: border-color 400ms ease, color 400ms ease;
  transition: border-color 400ms ease, color 400ms ease;
  font-family: Quicksand, sans-serif;
  color: #27b4af;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.plat_content_header:hover {
  border-bottom: 2px solid #000;
  color: #1b928e;
}

.plat_article_link {
  padding: 5px 10px;
  background-color: #27b4af;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 2em;
  text-decoration: none;
}

.plat_article_link:hover {
  background-color: #1a9490;
}

.plat_content_div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.plat_author {
  color: #858484;
  text-transform: none;
}

.plat_date {
  margin-top: 0px;
  color: #d1d1d1;
  text-transform: uppercase;
}

.plat_blog_header {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  text-align: left;
}

.plat_lecture_header {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-bottom: 0px;
  color: #27b4af;
  text-align: left;
}

.plat_nav_link {
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
}

.plat_nav_link:hover {
  opacity: 1;
}

.plat_login_div {
  display: block;
  width: 540px;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #cfcfd6;
  background-color: #fff;
  font-family: Quicksand, sans-serif;
}

.plat_login_header {
  margin-bottom: 20px;
  text-align: center;
}

.checkbox-field {
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

.checkbox {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  float: left;
}

.field-label {
  margin-top: 7px;
  margin-right: 0px;
  float: left;
}

.plat_generic_subheader {
  margin-top: 10px;
  color: #c5c5c5;
}

.plat_lecture_title {
  font-size: 18px;
  line-height: 2em;
  font-weight: 900;
}

.plat_lecture_extra {
  margin-top: 40px;
  margin-bottom: 40px;
}

.plat_centered_header {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  text-align: center;
}

.plat_card_link {
  margin-top: 10px;
  margin-bottom: 10px;
}

.plat_video {
  border: 1px none #cfcfd6;
}

.plat_lead_button_none {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 40px;
  float: none;
  border: 1px solid #cfcfd6;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #333;
}

.plat_lead_button_none:hover {
  background-color: #f1f1f1;
}

.plat_lead_button_green {
  margin: 10px 20px;
  padding: 20px 40px;
  float: none;
  border: 1px solid #159691;
  border-radius: 5px;
  background-color: #27b4af;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.plat_lead_button_green:hover {
  background-color: #1a9490;
}

.plat_page_header_centered {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.plat_testimonial {
  margin-top: 10px;
  margin-bottom: 10px;
}

.plat_cta {
  padding: 60px;
  background-image: -webkit-linear-gradient(295deg, #27b4af, #4aa98b);
  background-image: linear-gradient(155deg, #27b4af, #4aa98b);
  font-family: 'Open Sans', sans-serif;
}

.plat_header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 1.4em;
  text-align: center;
  letter-spacing: -0.4px;
}

.container-2 {
  text-shadow: 0 0 0 #000;
}

.gif_headers {
  margin-top: 30px;
  margin-bottom: 0.5rem;
  opacity: 0.95;
  color: #000;
  font-size: 23px;
  line-height: 38px;
  font-weight: 300;
  text-align: center;
}

.plat_padded_section {
  padding: 20px 0rem;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.plat_padded_section.plat_off {
  padding: 40px;
  border-style: solid solid none;
  border-width: 1px;
  border-color: #e0e0e0 #dbdada #dbdada;
}

.plat_padded_section.plat_off.plat_grey {
  background-color: #f9f9fa;
}

.plat_padded_section.plat_off.plat_complete {
  border-bottom-style: solid;
}

.plat_padded_section.plat_off.plat_complete.plat_grey.bottom_discount {
  margin-top: 15px;
  margin-bottom: 15px;
}

.paragraph {
  margin-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #252525;
  font-size: 22px;
  line-height: 1.9em;
  font-weight: 300;
}

.plat_green_header {
  margin-top: 39px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #007c78;
  font-size: 29px;
  line-height: 1.3em;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.4px;
}

.plat_green_header.centered {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.plat_inverse_brand {
  margin-top: 18px;
  font-family: Quicksand, sans-serif;
  color: #fff;
  font-weight: 400;
}

.plat_signup_free {
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: #1e4c7c;
  font-family: 'Open Sans', sans-serif;
}

.plat_list_item {
  margin-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  line-height: 1.8em;
  font-weight: 400;
}

.plat_list_item.plat_course_li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ced9e4;
  font-size: 14px;
  list-style-type: square;
}

.plat_start_now {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.95;
  color: #fff;
  font-size: 23px;
  line-height: 38px;
  font-weight: 300;
  text-align: center;
}

.block-quote {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 0px 5px 20px;
  border-left-style: none;
  font-size: 16px;
  line-height: 1.9em;
  font-weight: 300;
  text-align: left;
}

.plat_padded_section_60 {
  padding: 60px 0rem;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.plat_padded_section_60.plat_off {
  padding: 40px 0rem;
  border: 1px solid #e0e0e0;
  background-color: #f9f9fa;
}

.plat_signup_free_bottom {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1e4c7c;
  font-family: 'Open Sans', sans-serif;
}

.plat_blue_nav {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #002f61;
}

.plat_nav_link_inverse {
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Quicksand, sans-serif;
  color: #fff;
  font-weight: 500;
}

.plat_nav_link_inverse:hover {
  opacity: 1;
}

.gif_wrap {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border: 5px dashed #1e4c7c;
}

.gif_wrap.gif_border {
  border-color: #9c9c9c;
}

.plat_gif_text {
  margin-top: 1px;
  margin-bottom: 40px;
  opacity: 0.95;
  color: #000;
  font-size: 23px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
}

.bold-text {
  color: #007c78;
}

.plat_sales_card_list {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  color: #000;
}

.plat_sales_card_title {
  padding: 22px;
  background-color: #007c78;
}

.plat_sales_card_title.plat_sales_master {
  border-bottom: 5px dashed #27b4af;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #002f61;
}

.plat_sales_card_title.plat_sales_premium {
  border-bottom: 6px dashed #27b4af;
  background-color: #002f61;
}

.plat_sales_card_header_text {
  color: #fff;
  text-align: center;
}

.plat_sales_list_item {
  margin-bottom: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #bdbaba;
  font-size: 16px;
  font-weight: 400;
  list-style-type: square;
}

.plat_sales_purchase {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #27b4af;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 18px;
}

.plat_sales_purchase:hover {
  background-color: #1a9490;
}

.plat_sales_button_div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.plat_boxed_div {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dbdada;
  background-color: #f3f9ff;
  text-align: center;
}

.plat_video_background {
  background-color: #000a14;
}

.plat_lecture_content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.unordered-list {
  padding-left: 0px;
  list-style-type: none;
}

.plat_h2 {
  margin-top: 10px;
}

.plat_course_section_header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 20px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.plat_course_section_header:hover {
  background-color: #f0f0f0;
}

.plat_course_section_text {
  margin-left: 0px;
  color: #797777;
}

.plat_course_section_lectures {
  padding: 20px;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #dbdbdb;
  background-color: #f3f9ff;
}

.plat_course_section_lectures.plat_course_section_lectures_one {
  padding: 20px;
  background-color: #f9f9fa;
}

.plat_course_section {
  margin-bottom: 20px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .05);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.plat_course_section:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
}

.plat_course_section.plat_section_locked {
  opacity: 0.5;
}

.plat_course_title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #007c78;
  font-size: 29px;
  line-height: 1.3em;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.4px;
}

.tabs-menu {
  text-align: right;
}

.plat_tab_link {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #27b4af;
  color: #fff;
  text-align: center;
}

.plat_tab_link.w--current {
  background-color: #002f61;
}

.tabs-content {
  padding: 20px;
}

.plat_course_dash_header {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #27b4af;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}

.plat_subtitle {
  margin-top: 10px;
  margin-bottom: 0px;
  opacity: 0.95;
  color: #fff;
  font-size: 23px;
  line-height: 38px;
  font-weight: 300;
  text-align: center;
}

.plat_course_border_left {
  height: 20px;
  margin-right: 40px;
  margin-left: 40px;
  border-right: 4px none #27b4af;
  border-left: 4px dashed #27b4af;
}

.plat_dashboard_header {
  color: #464545;
  font-size: 44px;
}

.plat_modal_content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.plat_sales_content {
  padding: 20px 20px 80px;
  background-color: #f2f3f0;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.plat_blue_section {
  padding: 40px;
  border-top: 1px solid #dbdada;
  border-right: 1px solid #dbdada;
  border-left: 1px solid #dbdada;
  background-color: #f9f9fa;
}

.text-block {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f6f6f6;
  font-size: 18px;
  line-height: 1.8em;
  text-align: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 35px;
  font-weight: 400;
  text-align: center;
}

.italic-text {
  color: #222;
  text-align: center;
}

.paragraph-2 {
  font-size: 16px;
  line-height: 1.8em;
}

.heading-4 {
  color: #222;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.heading-5 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 400;
}

.italic-text-2 {
  font-size: 24px;
}

.heading-4-copy {
  color: #222;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.heading-5-copy {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #8d8383;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.submit-button {
  display: block;
  width: 100%;
  height: 75px;
  margin: 20px auto;
  border: 1px solid #104c8a;
  border-radius: 5px;
  background-color: #1e4c7c;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 20px;
}

.submit-button:hover {
  background-color: #0c5aac;
}

.paragraph-2-copy {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.8em;
  text-align: center;
}

.form-block-2 {
  margin-bottom: 40px;
}

.heading-4-faq {
  color: #222;
  font-weight: 300;
  text-align: left;
  text-transform: none;
}

.div-block-13 {
  padding: 10px;
  background-color: #5d5d5d;
}

.heading-6 {
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.plat_sales_buy_content {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fafafa;
}

.plat_sales_buy_card {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid #dbdada;
  border-radius: 5px;
}

.heading-7 {
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.text-block-2 {
  color: #e9e9e9;
  text-align: center;
}

.plat_sales_li {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #dbdada;
  font-size: 14px;
}

.plat_sales_buy_now {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #dbdada;
  border-radius: 6px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #161616;
  font-size: 16px;
  text-align: center;
}

.plat_sales_buy_now:hover {
  background-color: #e7e4e4;
}

.plat_sales_buy_now.lead {
  border-style: none;
  background-color: #0066d1;
  color: #fff;
}

.plat_sales_buy_now.lead:hover {
  background-color: #0657ad;
}

.link {
  display: block;
  color: #dfd8d8;
  text-align: center;
}

.plat_course_list {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  list-style-type: square;
}

.plat_header_no_margin {
  margin-top: 0px;
  margin-bottom: 40px;
  font-weight: 400;
}

.plat_li_points {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 35px;
}

.heading-8 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8d8383;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.unordered-list-2 {
  margin-top: 20px;
}

.image {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.link-2 {
  color: #0066d1;
  text-decoration: none;
}

.cta_quote {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 0px 5px 20px;
  border-left-style: none;
  border-left-color: #0066d1;
  font-size: 16px;
  line-height: 1.9em;
  font-weight: 300;
  text-align: left;
}

.plat_header_no_margin-copy {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
}

.heading-5-copy-copy {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #494949;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.plat_li_points-copy {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 35px;
}

.unordered-list-3 {
  padding-left: 10px;
}

.plat_section_list {
  margin-bottom: 20px;
}

.plat_sales_card_sub {
  color: #8d8383;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.full-section {
  min-height: 100vh;
}

.tab-pane {
  min-height: 100vh;
  background-color: #f2f3f0;
}

.tabs-menu-2 {
  display: block;
}

.tab_link {
  width: 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dbdada;
  background-color: #fcfcfc;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.tab_link.w--current {
  float: none;
  background-color: #27b4af;
}

.plat_section_text {
  font-size: 13px;
}

.plat_tab_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.plat_tab_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tabs-menu-3 {
  width: 15%;
  max-width: 250px;
  background-color: #1e4c7c;
}

.plat_vert_tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  border-bottom: 1px none #000;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: left;
}

.plat_vert_tab:hover {
  background-color: #002f61;
}

.plat_vert_tab.w--current {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #27b4af;
}

.plat_vert_tab.w--current:hover {
  background-color: #007a76;
}

.tabs-content-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.plat_tab_title {
  margin-top: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.plat_tab_pane {
  overflow: auto;
  min-height: 100vh;
  padding: 25px;
  background-color: #f2f3f0;
}

.container-3 {
  margin-top: 0px;
}

.pop_lecture_modal_wrapper_4 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99999999;
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .6);
}

.pop_modal_close_4 {
  padding: 15px;
  float: right;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #adadad;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.pop_modal_close_4:hover {
  color: #fff;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  width: 20%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.plat_nav_link_side {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.nav-link-2 {
  display: block;
}

.nav-link-3 {
  display: block;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-14 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-2 {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 20%;
  max-width: 350px;
}

.plat_nav_sidebar_link {
  width: 100%;
  padding-left: 40px;
}

.div-block-15 {
  width: 20%;
}

.container-5 {
  text-align: center;
}

.plat_start_course {
  padding: 15px 60px;
  border-radius: 5px;
  background-color: #0066d1;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.plat_start_course:hover {
  background-color: #0657ad;
}

.plat_jump_to_pricing {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #789fc7;
  text-decoration: none;
}

.plat_jump_to_pricing:hover {
  color: #d6d6d6;
}

.div-block-16 {
  margin-top: 15px;
}

.plat_flex_sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.plat_wp_sidebar {
  width: 23%;
  max-width: 350px;
  background-color: #1e4c7c;
  font-family: 'Open Sans', sans-serif;
}

.plat_all_content {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f2f3f0;
}

.plat_sidebar_link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.plat_sidebar_link:hover {
  background-color: #002f61;
}

.unordered-list-4 {
  padding-left: 0px;
}

.heading-9 {
  color: #fff;
  text-align: center;
}

.plat_sidebar_link_text {
  border-bottom: 2px dashed #537597;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  text-decoration: none;
}

.plat_sidebar_link_text:hover {
  opacity: 1;
}

.plat_complete_button {
  padding: 20px;
  border-radius: 5px;
  background-color: #0066d1;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.plat_complete_button:hover {
  background-color: #002f61;
}

.plat_download_link {
  opacity: 0.65;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1f1f1f;
  text-decoration: underline;
}

.plat_download_link:hover {
  opacity: 1;
}

html.w-mod-js *[data-ix="modal-init"] {
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

html.w-mod-js *[data-ix="lecture-appearance"] {
  display: none;
}

@media (max-width: 991px) {
  .plat_padding_section.plat_minvh_section {
    padding-top: 0px;
  }
  .plat_template_header {
    margin-bottom: 5px;
  }
  .menu-button.w--open {
    background-color: #f5f5f5;
    color: #000;
  }
  .nav-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
  }
  .pop_lecture_modal_content.pop_lecture_white {
    width: auto;
  }
  .plat_signup_free {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .menu-button-2 {
    color: #fff;
  }
  .menu-button-2.w--open {
    background-color: #002f61;
  }
  .nav-menu-2 {
    background-color: #002f61;
  }
  .plat_course_dash_header {
    margin-bottom: 5px;
  }
  .tabs-menu-3 {
    width: 25%;
    max-width: 350px;
  }
  .plat_flex_sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .plat_wp_sidebar {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 767px) {
  .plat_text_logo {
    font-size: 18px;
  }
  .plat_course_card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .plat_padding_section.plat_minvh_section {
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .plat_template_header {
    text-align: center;
  }
  .heading-2 {
    text-align: center;
  }
  .plat_lead_button {
    float: none;
  }
  .pop_lecture_card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .plat_page_header {
    padding-right: 20px;
    padding-left: 20px;
  }
  .plat_paragraph {
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav-menu {
    padding-right: 10px;
    padding-left: 10px;
  }
  .pop_lecture_modal_content.pop_lecture_white {
    padding-right: 40px;
    padding-left: 40px;
  }
  .plat_content_header {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 23px;
    line-height: 44px;
  }
  .plat_article_link {
    margin-right: 10px;
    margin-left: 10px;
  }
  .plat_lead_button_none {
    float: none;
  }
  .plat_lead_button_green {
    float: none;
  }
  .plat_page_header_centered {
    padding-right: 20px;
    padding-left: 20px;
  }
  .plat_signup_free {
    padding-right: 20px;
    padding-left: 20px;
  }
  .plat_sales_card_title.plat_sales_master {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .plat_course_dash_header {
    text-align: center;
  }
  .plat_all_content {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 479px) {
  .plat_text_logo {
    font-size: 18px;
  }
  .plat_padding_section.plat_minvh_section {
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .plat_template_header {
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
  }
  .heading-2 {
    text-align: center;
  }
  .plat_page_header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .menu-button {
    margin-top: 0px;
  }
  .plat_home_cta {
    font-size: 54px;
  }
  .plat_paragraph {
    padding-right: 20px;
    padding-left: 20px;
  }
  .plat_content_header {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    line-height: 30px;
  }
  .plat_article_link {
    margin-right: 10px;
    margin-left: 10px;
  }
  .plat_login_div {
    width: auto;
  }
  .plat_lead_button_none {
    margin-left: 10px;
  }
  .plat_page_header_centered {
    padding-right: 10px;
    padding-left: 10px;
  }
  .plat_signup_free {
    padding-top: 40px;
  }
  .plat_sales_purchase {
    width: 100%;
  }
  .plat_course_title {
    font-size: 24px;
  }
  .plat_tab_link.w--current {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .plat_course_dash_header {
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
  }
  .plat_sales_buy_card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tab_link {
    width: 100%;
  }
  .tab_link.w--current {
    width: 20%;
  }
  .tabs-menu-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .plat_wp_sidebar {
    width: 100%;
  }
  .plat_all_content {
    padding-right: 10px;
    padding-left: 10px;
  }
}

