/*
Theme Name: Platformer Academy
Theme URI: https://www.platformeracademy.com
Author: Jeremy Alexander
Author URI: https://www.jerementor.com
Description: The main theme for Platformer Academy
Version: 1.1.11
Text Domain: platformeracademy
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/

ul.menu{
    margin-left: -35px;    
}

.menu-item{
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid #cfcfd6;
    border-bottom: 1px solid #cfcfd6;
    border-top-style: none;
    list-style-type: none;
    padding-left: 0;
}

.menu-item > a {
  color: #3c3c4a;
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-size: 16px;
  font-weight: 700;  
}

.menu-item > a:hover {
  opacity: 1;
}

.plat_pagination {
  font-size: 18px;
}